<button
  class='bg-tertiary text-secondary py-2 px-5 rounded-xl font-medium hover:scale-105 hover:bg-secondary hover:shadow-lg hover:shadow-neutral-800 hover:text-tertiary transition-all duration-300'
>
  <slot />
</button>
