---
import Logos from '@components/Logos.astro'
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Product from '@components/Product.astro'
import Features from '@components/Features.astro'
import Feedback from '@components/Feedback.astro'
import Questions from '@components/Questions.astro'
import Footer from '@components/Footer.astro'
---

<Layout title='Wallet'>
  <main>
    <Hero />
    <Logos />
    <Product />
    <Features />
    <Feedback />
    <Questions />
    <Footer />
  </main>
</Layout>
