---
import { Image } from 'astro:assets'
import image from '@assets/user-image.webp'
import QuoteIcon from '@icons/quote-icon.astro'
---

<section
  class='sm:mx-28 mx-10 mt-28 bg-[#FBE4AB] rounded-3xl flex flex-col items-center gap-y-5 py-16'
>
  <QuoteIcon />
  <p
    class='max-w-[70%] text-2xl font-medium text-center opacity-80 sm:text-[1.2rem] text-[0.9rem]'
  >
    “Wallet is a great product! All of my most important information is there -
    credit cards, transit cards, boarding passes, tickets, and more. And I don't
    need to worry because it's all in one place! thanks!”
  </p>
  <h4 class='font-medium opacity-70'>Johnny Owens</h4>
</section>
